body {
    font-family: sans-serif;
}
header {
   background-color:white;border-radius:8px;
   border: 5px solid blue;
   margin:10px;
}
header a {
   color:white;
   background-color:blue ;
   border-radius:8px;
   text-decoration:none;
   padding:5px;
   margin: 5px;
}
header img {
   border-radius:7px;
} 
   main h1 {
   background-color:#00BFFF ;
   color:white;
   font-family: 'Times New Roman', Times, serif;
   text-align:centre ;
   }
    footer p{
  background-color:white ;
border:5px solid white
   }
footer {
  background-color:pink;
padding:10px;
   }

nav{
    margin:10px;
}

    nav a {
        background-color:blue ;
        border:5px solid blue;
        border-radius:8px;
        text-decoration:none;
        color: white;
        margin:10px;
        padding:3px;
   }
   .price{
background-color:white ;
border:5px solid blue;
border-radius:8px;
text-decoration:none;
color:blue;
   }
 p img {
  background-color:pink;
 border:5px solid blue; 
 border-radius:10px;
   }  
.per {
  color:blue;
  margin:40px;
  font-size:35px;
   }
.kontakt {
  text-decoration:none;
  color:black;
  border:5px solid blue; 
 border-radius:10px; 
 padding:10px;
   }